<div class="w-full min-h-screen flex gap-10 flex-wrap justify-start pt-5">
    <ng-container *ngIf="tasks.length > 0; else noTaskTemplate">
        <div class="relative w-[45%] h-48 border rounded-xl shadow-xl overflow-hidden" *ngFor="let task of tasks; let i = index">
            <div class="absolute right-5 top-5">
                <button class="rounded-full" (click)="onDeleteTask(i)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0d0d0c" viewBox="0 0 256 256"><path d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z"></path></svg>
                </button>
            </div>
            <div class="w-full h-12 flex items-center p-3">
                <p class="font-sans text-3xl">{{ task.taskName }}</p>
            </div>
            <div class=" mt-2 w-full h-8 flex items-center p-3">
                <p class="font-sans text-xs">Time</p>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d0d0c" viewBox="0 0 256 256"><path d="M144,128a16,16,0,1,1-16-16A16,16,0,0,1,144,128Z"></path></svg>
                </span>
                <p class="font-sans text-xs">{{ task.taskStatus }}</p>
            </div>
            <div class="w-full h-28 flex p-3">
                <p class="font-sans text-base">{{ task.taskDescription }}</p>
            </div>
        </div>
    </ng-container>
    <ng-template #noTaskTemplate>
        <div class="w-full h-full text-center">
            <p>No tasks added.</p>
        </div>
    </ng-template>
</div>
