<div class="p-5 flex gap-9 flex-wrap" *ngIf="tasks.length > 0; else tasksNotFound">
    <div *ngFor="let task of tasks; let i = index" [routerLink]="['/tasks', i]">
        <div class="card shadow">
            <div class="w-full h-12 flex items-center p-2">
                <p class="font-sans font-light text-lg"> {{ task.taskName }} </p>
            </div>
            <div class="w-full h-40 p-2 overflow-hidden border border-t-slate-200 border-b-slate-300">
                <p class="font-sans font-light text-sm"> {{ task.taskDescription }} </p>
            </div>
            <div class="w-full h-10 p-2 flex items-center">
                <p class="font-sans font-light text-sm">status:  {{ task.taskStatus }} </p>
            </div>
        </div>
    </div>
</div>
<ng-template #tasksNotFound>
    <div class="flex flex-col items-center justify-center">
        <p class="text-center pt-10">Tasks do not exist.</p>
        <button (click)="redirectToCreateTask()" type="button" class="focus:outline-none
            mt-5 
            text-white 
            bg-green-700 
            hover:bg-green-800 
            focus:ring-4 
            focus:ring-green-300 
            font-medium 
            rounded-lg 
            text-sm 
            px-5 
            py-2.5 
            me-2 
            mb-2 
            dark:bg-green-600 
            dark:hover:bg-green-700 
            dark:focus:ring-green-800">
        Proceed to add task.
        </button>
    </div>
</ng-template>