<div class="p-5 flex gap-9 flex-wrap" *ngIf="tasks.length > 0; else tasksNotFound">
    <div *ngFor="let task of tasks; let i = index">
        <div class="card shadow flex flex-col justify-evenly">
            <div class="w-full h-[20%] flex items-center p-2 justify-between">
                <p class="font-sans font-light text-lg"> {{ task.taskName }} </p>
                <div class="flex">
                    <button (click)="redirectToSingleTask(i)" type="button" class="scale-90 px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View</button>
                    <button (click)="redirectToUpdate(i)" type="button" class="scale-90 px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
                </div>
            </div>
            <div class="w-full h-[58%] p-2 overflow-hidden border border-t-slate-200 border-b-slate-300">
                <p class="font-sans font-light text-sm"> {{ task.taskDescription }} </p>
            </div>
            <div class="w-full h-10 p-2 flex items-center relative">
                <p *ngIf="task.taskStatus === 'pending'" class="font-sans font-light text-sm">status:  <span class="text-red-600 font-semibold">{{ task.taskStatus }}</span> </p>
                <p *ngIf="task.taskStatus === 'completed'" class="font-sans font-light text-sm">status:  <span class="text-green-600 font-semibold">{{ task.taskStatus }}</span> </p>
                <div class="absolute right-12 flex items-center justify-center">
                    <input [disabled]="task.taskStatus === 'completed'" (change)="changeTaskStatus(i)" id="green-checkbox" type="checkbox" class="w-5 h-5 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                </div>
                <div (click)="deleteTask(i)" class="absolute right-2 flex items-center justify-center">
                    <button class="flex items-center justify-center w-8 h-8 rounded dark:bg-red-600">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" viewBox="0 0 256 256"><path d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z"></path></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #tasksNotFound>
    <div class="flex flex-col items-center justify-center">
        <p class="text-center pt-10">Tasks do not exist.</p>
        <button (click)="redirectToCreateTask()" type="button" class="focus:outline-none
            mt-5 
            text-white 
            bg-green-700 
            hover:bg-green-800 
            focus:ring-4 
            focus:ring-green-300 
            font-medium 
            rounded-lg 
            text-sm 
            px-5 
            py-2.5 
            me-2 
            mb-2 
            dark:bg-green-600 
            dark:hover:bg-green-700 
            dark:focus:ring-green-800">
        Proceed to add task.
        </button>
    </div>
</ng-template>